In [1]:
import pandas as pd
import os,json,sys

In [2]:
ans_df = pd.read_csv(r"P:\1IEC\AISamSung2023\Chấm Bài\Test_samsung.csv")
ans_df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,Class
0,Male,Yes,0,Graduate,No,9083,0.0,228.0,360.0,1.0,Semiurban,Y
1,Male,Yes,0,Graduate,No,4310,0.0,130.0,360.0,NaN,Semiurban,Y
2,Male,Yes,2,Graduate,No,4167,1447.0,158.0,360.0,1.0,Rural,Y
3,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
4,Male,No,0,Graduate,No,2718,0.0,70.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
118,Male,Yes,0,Graduate,NaN,3716,0.0,42.0,180.0,1.0,Rural,Y
119,Female,No,0,Graduate,No,2507,0.0,56.0,360.0,1.0,Rural,Y
120,Male,Yes,1,Graduate,No,2882,1843.0,123.0,480.0,1.0,Semiurban,Y
121,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
122,Male,Yes,0,Graduate,NaN,63337,0.0,490.0,180.0,1.0,Urban,Y

In [ ]:
# res_df['Class'] = res_df['Class'].replace({1: 'Y', 0: 'N'})
correct = (ans_df['Class'] == res_df['Class']).sum()
total = len(ans_df)
accuracy = correct / total * 100
print(f"{accuracy:.2f}")

In [4]:
import os, time, json, sys
train_data = []
for file in os.listdir(r"P:\1IEC\AISamSung2023\Chấm Bài\TestData_nolabel"):
   with open(os.path.join(r"P:\1IEC\AISamSung2023\Chấm Bài\TestData_nolabel", file), "r") as f:
      file_content = f.read()
   content = {
      "text" : file_content.strip(),
      "label": None,
      "file_name": file
   }
   train_data.append(content)
for file in os.listdir(r"P:\1IEC\AISamSung2023\Chấm Bài\TestData_withlabel\notspamTest"):
   with open(os.path.join(r"P:\1IEC\AISamSung2023\Chấm Bài\TestData_withlabel\notspamTest", file), "r") as f:
      file_content = f.read()
   for i in range(len(train_data)):
      if train_data[i]['text'] == file_content.strip():
         train_data[i]['label'] = "notspam"
         break
for i in range(len(train_data)):
   if train_data[i]['label'] is None:
      train_data[i]['label'] = "spam"

In [5]:
with open(r"P:\1IEC\AISamSung2023\Chấm Bài\Results_Test2.json", "r") as f:
   result = json.load(f)
answer = pd.read_csv(r"P:\1IEC\AISamSung2023\Chấm Bài\Bài thi số 2 (BT 6)\Nhóm_8_bai2(1)\BT6\result.csv")
answer

              file       ans
0    0_unknown.txt   notspam
1   10_unknown.txt   notspam
2   11_unknown.txt   notspam
3   12_unknown.txt   notspam
4   13_unknown.txt   notspam
..             ...       ...
73  76_unknown.txt      spam
74  77_unknown.txt      spam
75   7_unknown.txt      spam
76   8_unknown.txt   notspam
77   9_unknown.txt      spam

[78 rows x 2 columns]

In [40]:
count = 0
for i in range(len(result)):
   for j in range(len(answer)):
      if result[i]['file_name'] == answer['file'][j] and result[i]['label'] == answer[' ans'][j]:
         count += 1
count

0

In [18]:
print(f"{72/78*100:.2f}")

92.31